/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import "~@ng-select/ng-select/themes/material.theme.css";



html, body { height: 100%; margin:0; padding:0;}

body, header, button, table { 
  margin-left: auto;
	margin-right:auto;
	font-family: 'Poppins', sans-serif;				
}


.border{
    padding: 10px;
  }
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  table .btn{
    margin: 2px;
  }
.modal-header h4{
    font-size: large;
    font-weight: bold;
}

h1 h2 h3 h4 {
  font-size: larger;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.error{
  color: red;
}


