/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
html, body { height: 100%;  font-family: 'Noto Sans JP', sans-serif;}
body { margin: 0;}


.border{
    padding: 10px;
  }
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  table .btn{
    margin: 2px;
  }
h4 {
    font-size: xx-large;
    font-weight: bold;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
