<div class="search-div">
	<button mat-raised-button (click) = "onCreate()">
	  <mat-icon>add</mat-icon>Add
	</button>
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
	
</div>

<mat-card *ngIf="dataSource?.filteredData.length <= 0" style="margin-bottom: 5px">
	<div><span>ZERO RESULT</span></div>
</mat-card>

<mat-card *ngIf="dataSource?.filteredData">
	<table mat-table [dataSource]="dataSource" matSort>
		<!-- Position Column -->
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
			<td mat-cell *matCellDef="let work"> {{work.id}} </td>
		</ng-container>
		<!-- Name Column -->
		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
			<td mat-cell *matCellDef="let work"> {{work.description}} </td>
		</ng-container>
		<!-- Weight Column -->
		<ng-container matColumnDef="price">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
			<td mat-cell *matCellDef="let work"> {{work.price}} </td>
		</ng-container>

		<ng-container matColumnDef="edit">
			<th mat-header-cell *matHeaderCellDef> Edit </th>
			<td mat-cell *matCellDef="let work"> <button mat-icon-button (click) = "openEdit(contentEdit, work)"><mat-icon>launch</mat-icon></button></td>
		</ng-container>

		
		<ng-container matColumnDef="delete">
			<th mat-header-cell *matHeaderCellDef> Delete </th>
			<td mat-cell *matCellDef="let work"> <button mat-icon-button color="warn" (click) = "onDelete(work.id)"><mat-icon>delete_outline</mat-icon></button> </td>
		</ng-container>


		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>


<ng-template #contentEdit let-modal>
	<mat-toolbar>
		<span>{{"Modify Work"}}</span>
		<span class="fill-remaining-space"></span>
		<button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
	</mat-toolbar>
	  
	<div class="modal-body">
	  <form [formGroup]="form" novalidate>
		<div class="controles-container">
			<mat-grid-list cols="1" rowHeight="100px">
				<mat-grid-tile>
					<input type="hidden" formControlName="id">
					<mat-form-field>
						<div class="form-group">
							<div class="input-group">
								<input formControlName="description" matInput placeholder="Description*">
							</div>
							
						</div>
					</mat-form-field>

					<mat-form-field>
						<div class="form-group">
							<div class="input-group">
								<input formControlName="price" matInput placeholder="Price*">
							</div>	
						</div>
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>
		</div>
	
	  </form>
	</div>
	<div class="button-row">
        <button mat-raised-button color="primary" (click) = "onSave()">Save</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    </div>
</ng-template>