<mat-toolbar>
    <span>{{form.controls['id'].value?"Modify Work":"Add Work"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="150px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="id">
          <mat-form-field>
            <input formControlName="description" matInput placeholder="Description*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="price" matInput placeholder="Price*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
        </div>            
        
      </mat-grid-tile>
    </mat-grid-list>
    <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    </div>
</form>