
<div class="container">
    <div class="border">
        <button class="btn btn-md btn-outline-primary"(click)="open(content)">
          <i class="fa fa-user" ></i>Add Machine</button>
        
    
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Type</th>
        <th scope="col">Description of failure</th>
        <th scope="col">Reparation price</th>
        <th scope="col">Status</th>
        <th scope="col">Day of arriving</th>
        <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let machine of machines" >
            <th scope="row">{{ machine.id }}</th>
            <td>{{ machine.manufacturer }}</td>
            <td>{{ machine.type }}</td>
            <td>{{ machine.description_of_failure}}</td>
            <td>{{ machine.reparation_price | number }}</td>
            <td>{{ machine.status}}</td>
            <td>{{ machine.arriving_date }}</td>
            
              <td>
                  <button class="btn btn-sm btn-info" *ngIf = "isAdmin()">
                    <i class="fa fa-search"></i>Details</button>
                  <button class="btn btn-sm btn-danger"  *ngIf = "isAdmin()" (click)= "openDelete(contentDelete, machine)">
                    <i class="fa fa-remove"></i>Delete</button>
                    <button class="btn btn-primary btn-sm"  *ngIf = "!isAdmin()" [disabled] = "isMachineAdded(machine)" (click)="openToAdd(contentAdding, machine)" >
                      <i class="fa fa-plus-square"></i>Add</button>
                </td>
            </tr>
      </tbody>
    </table>


    
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Machine</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name = "form" #f="ngForm" (ngSubmit)=" f.form.valid && onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <div class="input-group">
          <input [(ngModel)] = "machines.manufacturer" type ="text" id="manufacturer" class="form-control" #manufacturer = "ngModel" name="manufacturer" required>
        </div>  
        <span *ngIf="manufacturer.invalid && (manufacturer.dirty || manufacturer.touched)" class="error">You must enter the manufacturer!</span>
        
        
      </div>

      <div class="form-group">
          <label for="type">Type</label>
          <div class="input-group">
            <input [(ngModel)] = "machines.type" type ="text" id="type" name="type" class="form-control" #type = "ngModel" required >
          </div>
          <span *ngIf="type.invalid && (type.dirty || type.touched)" class="error">You must enter type!</span>


      </div>

      <div class="form-group">
              <label for="e_mail">Description of failure</label>
              <div class="input-group">
                <input [(ngModel)] = "machines.description_of_failure "type ="text "id="description_of_failure" name="description_of_failure" #description_of_failure = "ngModel" class="form-control" required>
              </div>
              <span *ngIf="description_of_failure.invalid && (description_of_failure.dirty || description_of_failure.touched)" class="error">You must enter the failure!</span>
      </div>

      <div class="form-group">
        <label for="reparation_limit">Reparation limit</label>
        <div class="input-group">
          <input [(ngModel)] = "machines.reparation_limit" id="reparation_limit" name="reparation_limit" class="form-control" #reparation_limit = "ngModel" >
        </div>
        <span *ngIf="reparation_limit.invalid && (reparation_limit.dirty || reparation_limit.touched)" class="warning">Are u sure you dont set limit?</span>


      </div>

      <div class="form-group">
        <label for="reparation_limit">Single work limit</label>
        <div class="input-group">
          <input [(ngModel)] = "machines.single_work_limit" id="single_work_limit" name="single_work_limit" class="form-control" #single_work_limit = "ngModel" >
        </div>
        <span *ngIf="single_work_limit.invalid && (single_work_limit.dirty || single_work_limit.touched)" class="warning">Are u sure you dont set limit?</span>


      </div>

      <div class="form-group">
        <label for="customers_email">Customers email</label>
        <div class="input-group">
          <input [(ngModel)] = "machines.customers_email" id="customers_email" name="customers_email" class="form-control" #customers_email = "ngModel" required>
        </div>
        <span *ngIf="customers_email.invalid && (customers_email.dirty || customers_email.touched)" class="error">Customers email is required!</span>


      </div>
      
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info" ng-disabled="ngForm.$invalid">Submit</button>
        <span *ngIf="ngForm.$invalid" class="error">Invalid form!</span>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center"> 
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button> 
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>



<ng-template #contentAdding let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Adding</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to add this record.</h2>
    <div class="border text-center"> 
      <button data-dismiss="modal" class="btn btn-outline-success" (click)="onSubmitaMachine()">Yes, Add!</button> 
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>