<p>machine-list works!</p>


<div class="container">
    <div class="border">
        <button class="btn btn-md btn-outline-primary"(click)="open(content)">
          <i class="fa fa-user" ></i>Add Machine</button>
        
    
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Type</th>
        <th scope="col">Description of failure</th>
        <th scope="col">Reparation price</th>
        <th scope="col">Status</th>
        <th scope="col">Worker's name/th>
        <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let machine of machines" >
            <th scope="row">{{ machine.id }}</th>
            <td>{{ machine.manufacturer }}</td>
            <td>{{ machine.type }}</td>
            <td>{{ machine.description_of_failure}}</td>
            <td>{{ machine.reparation_price | number }}</td>
            <td>{{ machine.status}}</td>
            <td >{{ machine.personName}}</td>
              <td>
                  <button class="btn btn-sm btn-info">
                    <i class="fa fa-search"></i>Details</button>
                  <button class="btn btn-sm btn-warning">
                    <i class="fa fa-edit"></i>Edit</button>
                  <button class="btn btn-sm btn-danger" *ngIf = "showAdminBoard" (click)= "openDelete(contentDelete, machine)">
                    <i class="fa fa-remove"></i>Delete</button>
                    <button class="btn btn-primary btn-sm" (click)="openToAdd(contentAdding, machine)">
                      <i class="fa fa-plus-square"></i>Add</button>
                </td>
            </tr>
      </tbody>
    </table>

    

    
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Machine</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <div class="input-group">
          <input [(ngModel)] = "machines.manufacturer" type ="text" id="manufacturer" class="form-control"  name="manufacturer" required>
        
        </div>
      </div>

      <div class="form-group">
          <label for="type">Type</label>
          <div class="input-group">
            <input [(ngModel)] = "machines.type" type ="text" id="type" name="type" class="form-control" required >
          </div>
      </div>

      <div class="form-group">
              <label for="e_mail">Description of failure</label>
              <div class="input-group">
                <input [(ngModel)] = "machines.description_of_failure "type ="text "id="description_of_failure" name="description_of_failure" class="form-control" required>
              </div>
      </div>
      
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to delete this record.</h2>
    <div class="border text-center"> 
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button> 
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>



<ng-template #contentAdding let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Adding</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Are you sure you want to add this record.</h2>
    <div class="border text-center"> 
      <button data-dismiss="modal" class="btn btn-outline-success" (click)="onSubmitaMachine(userId)">Yes, Add!</button> 
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>