<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<div class="container">
  <form action="action_page.php" [formGroup] = "editForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="row">
        <div class="col-25">
          <label>Id</label>
        </div>
        <div class="col-75">
          <div class = "form-group">
            <div class="input-group">
              <input formControlName = "id" id="id" name= "id" class = "form-control" readonly>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-25">
          <label>Manufacturer</label>
        </div>
        <div class="col-75">
          <div class = "form-group">
            <div class="input-group">
              <input formControlName = "manufacturer" id= "manufacturer" name = "manufacturer" class = "form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Type</label>
        </div>
        <div class="col-75">
          <div class = "form-group">
            <div class="input-group">
              <input formControlName = "type" class = "form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Reparation price</label>
        </div>
        <div class="col-75">
          <div class = "form-group">
            <div class="input-group">
              <input formControlName = "reparation_price" class = "form-control">
            </div>
          </div>
        </div>
      </div>
      
      
      
      <div class="row">
        <div class="col-25">
          <label>Description of failure</label>
        </div>
        <div class="col-75">
          <div class = "form-group">
            <div class="input-group">
              <textarea formControlName = "description_of_failure" class = "form-control"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>New Works</label>
          <button type="button" (click) = "addWork(selectedWork)"> <i class="fa fa-plus">Add work</i></button>
        </div>
        <div class="col-75">
          
      
            <select [(ngModel)] = "selectedWork"  [ngModelOptions]="{standalone: true}" >
              <option value = "" disabled selected> Select Work</option>
              <option *ngFor = "let work of allWorks" [ngValue] = "work"> {{work.description}}</option>
            </select>
            <p>Selected work: {{selectedWork.description}}</p> 
            
            <div class="alert alert-success alert-dismissible" *ngIf = "alert" role = "alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true"> &times; </span>
              </button>
              <strong>Success!</strong> Indicates a successful or positive action.
            </div>
          
            <h2>Added works to this machine: </h2>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col">Works</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let work of worksByMachine">
                  <th scope="row">{{work.description}}</th>
                  <td>
                    <button (click) = "deleteWorkFromMachine(work)">
                      <i class="fas fa-trash fa-2x" style="color:red"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <label class="container"> 
              <input type="checkbox"  id="isCheckBox"  data-md-icheck (change)="changeToDone($event)"/> Is Machine done?
              <span class="checkmark"></span>
            </label>

        </div>
      </div>
      
    
      <div class="row">
        <input type="submit" value="Submit">
      </div>
  </form>
  
</div>