

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->


  <!-- Navigation -->
<header>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" *ngIf = "isLoggedIn">
  <div class = "container-fluid" >
  <a class="navbar-brand" href="#">RMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarSupportedContent" class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/persons" routerlink = "persons" *ngIf="showAdminBoard">
          <i class="fa fa-user fa-fw"></i>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/machines" routerlink = "machines" *ngIf = "isLoggedIn">
          <i class="fa fa-television"></i>
          Machines
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href = "/persons/{{userId}}/machines" [routerlink] = "['persons/', userId, '/machines']" *ngIf = "showWorkerBoard">
          <i class="fa fa-television"></i>
          My machines
        </a>
      </li>
    </ul>
      
      
      
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">Hello {{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
     
    
  </div>
  </div>
</nav>

<div class="login-page" *ngIf = "!isLoggedIn">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Sign In</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form name = "form"
            (ngSubmit) = "f.form.valid && onSubmit()" #f = "ngForm" action="javascript:void(0);"  novalidate>
              <mat-form-field>
                <input
                  matInput placeholder="Username" 
                  [(ngModel)] = "form.username" name = "username" #username = "ngModel" required>
                  <mat-error *ngIf="username.invalid">Username is required</mat-error>
                <mat-icon matSuffix>account_box</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  [(ngModel)] = "form.password"
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <div class="alert alert-success" *ngIf="isLoggedIn">
                Success!.
              </div>
              <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && isLoginFailed">
                  Login failed: {{ errorMessage }}
                </div>
              </div>
              <mat-checkbox>Remember Me!</mat-checkbox>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Sign In
              </button>

              
            </form>
          </mat-card-content>
      </mat-tab>
      
          
    </mat-tab-group>
  </mat-card>
</div>



<router-outlet></router-outlet>
